@{
    ViewData["Title"] = "SkillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yeni Yetenek Ekleme Sayfası</h4>
<br />
<form class="form-group" method="post">
    <input type="text" name="Title" class="form-control" placeholder="Başlığı yazınız" />
    <br />
    <input type="text" name="SubTitle" class="form-control" placeholder="Altbaşlığı yazınız" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Tarih (Mayıs 2019 - Haziran 2022)" />
    <br />
    <textarea placeholder="Açıklamanızı Giriniz" name="Description" class="form-control"></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>
